@model List<BannerItem>
<!DOCTYPE html>
<!-- Handled by Exflow.site -->
<html data-wf-page="666001600530be8dd46480dc" data-wf-site="666001600530be8dd46480e1">
<head>
</head>
<body class="body">
	@foreach (BannerItem item in Model) {
		<section id="about-us" class="section">
			<div class="about-section-shadow"></div>
		<div class="w-layout-blockcontainer container w-container">
			<div class="w-layout-grid about">
					<div class="about-heading-div"><h2 data-w-id="a3766256-bb7e-5414-7dd2-c4e247d88517" style="opacity:0" class="h2-heading">@Model[0].Title</h2></div>
				<div id="w-node-_5c50ddb0-595b-dfc0-5b72-4d79b877379b-d46480dc" class="about-heading-div">
					<p data-w-id="64761d4c-82c0-f75b-8ec5-a9df3633032d" style="opacity:0" class="paragraph-large">
							@Model[1].Subtitle 
					</p>
				</div>
			</div>
			<div class="w-layout-grid about-grid">
				<div data-w-id="407eb939-6850-b88c-f6be-5e7ff81fdb4b" style="opacity:0" class="about-div">
					<div class="about-card">
							<img src="@Model[2].ImagePath" loading="lazy" alt="people icon" class="about-image" />
						<div class="about-feature">
							<h3 class="h3-heading">@Model[2].Title</h3>
							<p class="paragraph">@Model[2].Subtitle</p>
						</div>
					</div>
				</div>
				<div id="w-node-d05f9886-18f2-b11a-3f7b-c0a0d4337928-d46480dc" data-w-id="d05f9886-18f2-b11a-3f7b-c0a0d4337928" style="opacity:0" class="about-div">
					<div class="about-card">
							<img src="@Model[3].ImagePath" loading="lazy" alt="Certificates icon" class="about-image" />
						<div class="about-feature">
							<h3 class="h3-heading">@Model[3].Title</h3>
								<p class="paragraph">@Model[3].Subtitle</p>
						</div>
					</div>
				</div>
				<div id="w-node-_8eb8f8ae-1ed1-53fb-9ee1-69250fd0c371-d46480dc" data-w-id="8eb8f8ae-1ed1-53fb-9ee1-69250fd0c371" style="opacity:0" class="about-div">
					<div class="about-card">
						<img src="@Model[4].ImagePath" loading="lazy" alt="award icon" class="about-image" />
						<div class="about-feature">
							<h3 class="h3-heading">@Model[4].Title</h3>
							<p class="paragraph">@Model[4].Subtitle</p>
						</div>
					</div>
				</div>
				<div id="w-node-_7b3e0b4a-77fd-1a48-02e2-0e8e543d272e-d46480dc" data-w-id="7b3e0b4a-77fd-1a48-02e2-0e8e543d272e" style="opacity:0" class="about-div">
					<div class="about-card">
						<img src="@Model[5].ImagePath" loading="lazy" alt="star icon" class="about-image" />
						<div class="about-feature">
							<h3 class="h3-heading">@Model[5].Title</h3>
							<p class="paragraph">@Model[5].Subtitle</p>
						</div>
					</div>
				</div>
			</div>
		<a href="#" data-w-id="8fcd3fcf-da00-336b-3947-5906fdaa1bfe" style="opacity:0" class="about-video w-inline-block w-lightbox">
			<img src="@Url.Content("~/images/bg-video.webp")"
				 loading="lazy"
				 sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
				 srcset="@Url.Content("~/images/bg-video.webp") 500w, @Url.Content("~/images/bg-video.webp") 800w, @Url.Content("~/images/bg-video.webp") 1080w, @Url.Content("~/images/bg-video.webp") 1228w"
				 alt="sea image"
				 class="video-thumbnail-image" />
			<div class="play-button div-block">
				<img src="@Url.Content("~/images/play.png")" loading="lazy" alt="play icon" />
			</div>

			<script type="application/json" class="w-json">
			{
			  "items": [
				{
				  "url": "https://www.youtube.com/embed/7X8II6J-6mU?si=bcXUM4KyNk4FXsW3&autoplay=1",
				  "originalUrl": "https://www.youtube.com/embed/7X8II6J-6mU?si=bcXUM4KyNk4FXsW3&autoplay=1",
				  "width": 940,
				  "height": 528,
				  "thumbnailUrl": "https://i.ytimg.com/vi/7X8II6J-6mU/hqdefault.jpg",
				  "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F7X8II6J-6mU%3Fautoplay%3D1&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D7X8II6J-6mU&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F7X8II6J-6mU%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture\" allowfullscreen=\"true\"></iframe>",
				  "type": "video"
				}
			  ],
			  "group": ""
			}
			</script>
		</a>
		</div>
	</section>
	}
</body>
</html>
